<form [formGroup]="contatto" (ngSubmit)="modificaContatto()">


    <div class="input-group mb-3">
        <span class="input-group-text">Nome</span>
        <input type="text" class="form-control" aria-label="Username" formControlName="nome">
        <span class="input-group-text">Cognome</span>
        <input type="text" class="form-control" aria-label="Server" formControlName="cognome">
    </div>

    <div>
        <span class="input-group-text" id="basic-addon5">Ragione Sociale</span>
        <input type="text" class="form-control mb-3" aria-label="Username" aria-describedby="basic-addon5"
            formControlName="RagioneSociale">
    </div>

    <ng-container formGroupName="indirizzo">
        <div class="input-group mb-3">
            <span class="input-group-text">Via</span>
            <input type="text" class="form-control" aria-label="Username" formControlName="via">

            <span class="input-group-text">Città</span>
            <input type="text" class="form-control" aria-label="Server" formControlName="citta">
        </div>

        <div class="input-group mb-3 mt-3">
            <span class="input-group-text">Provincia</span>
            <input type="text" class="form-control" aria-label="Server" formControlName="provincia">
            <span class="input-group-text">CAP</span>
            <input type="text" class="form-control" aria-label="Username" formControlName="CAP">
        </div>
        <div>
            <span class="input-group-text" id="basic-addon2">Nazione</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon2"
                formControlName="nazione">
        </div>
    </ng-container>

    <div>
        <span class="input-group-text mt-3" id="basic-addon3">Email</span>
        <input type="email" class="form-control" aria-label="Username" aria-describedby="basic-addon3"
            formControlName="email">
    </div>
    <div class="input-group mb-3 mt-3">
        <span class="input-group-text">Prefisso</span>
        <input type="text" class="form-control" aria-label="Server" formControlName="prefisso">
        <span class="input-group-text">Telefono</span>
        <input type="number" class="form-control" aria-label="Username" formControlName="telefono">
    </div>
    <div class="mb-3">
        <span class="input-group-text" id="basic-addon4">Compleanno</span>
        <input type="email" class="form-control" aria-label="Username" aria-describedby="basic-addon4"
            formControlName="compleanno">
    </div>
    <button type="submit" class="btn btn-primary mx-3">Modifica</button>
</form>
